body {
    margin : 50px;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 140px;
    height: 160px;
    padding: 22px;
    gap: 4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
